h1{
    text-align: center;
    margin: 20px;
    
}

.form-container{
    margin: 50px;
    text-align: center;

    
}
.formulario{
    margin: auto;
    padding: 10px;
    border: 1px solid gainsboro ;
    border-radius: 10px;
    max-width: 400px;
    background-color: rgb(130, 172, 192);
    

}
.form-control {
    max-width: 300px;
    margin: auto;
}

.form-select {
    max-width: 300px;
    margin: auto;
}

label{
    font-size: 16px;

}

.container{
    text-align: center;
}

.bg{
    background-color: rgb(208, 227, 228);
}

.card{
    background-color: rgb(130, 172, 192);
}

.input-group{
    margin: 30px;
}